/* TODO: RYAN - get the woff files and put them in the codebase */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --default-font-family: "Lato", sans-serif;
    --header-font-family: "Fredoka", sans-serif;

    --color-dark-yellow: #f4d35f;
    --color-dark-blue: #4a91e2;
    --color-text: #000000;
    --color-text-alt: #9ca3af;
}

html {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
}

nav.header-bar {
    div.title-section {
        a.title-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;

            div.title-icon {
                background-color: var(--color-dark-yellow);
                padding: 0.5rem;
                width: 24px;
                height: 24px;
            }

            span.title-text {
                font-family: var(--header-font-family);
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 2rem;
                letter-spacing: 0.025em;
                color: var(--color-dark-blue);

                span.subtitle {
                    color: var(--color-text-alt);
                    display: block;
                    font-family: var(--default-font-family);
                    font-size: 0.75rem;
                    line-height: 1rem;
                    margin-top: -0.25rem;
                    margin-left: 3px;
                }
            }
        }
    }
}

.blob-shape {
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

.round {
    border-radius: 9999px;
}

.icon {
    display: block;
}
